<!DOCTYPE html>
<html lang="ko">

<!--<META HTTP-EQUIV="refresh" CONTENT="1">-->

<head>
    <% include ./head %>
    <title>Dalcom</title>
    <script src="/public/scripts/admin.js" defer></script>
</head>

<body class="vh-100">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Dalcom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/admin">관리자 <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/logout">로그아웃</a>
            </div>
        </div>
    </nav>


    <div id="admin-contents" class="row m-0">
        <div class="col bg-light">
        </div>

        <div id="real-time-log">

        </div>
    </div>

</body>