<!DOCTYPE html>
<html lang="ko">

<!--<META HTTP-EQUIV="refresh" CONTENT="1">-->

<head>
    <% include ./head %>
    <title>Dalcom</title>
    <script src="/public/scripts/index.js" defer></script>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Dalcom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">컴퓨터실 <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">세계로 예약</a>
                <a class="nav-item nav-link" href="/login">로그아웃</a>
            </div>
        </div>
    </nav>

    <div id="computer-room-list" class="row m-0 px-1">
        <%# for (int i = 0; i < 16; i++) { %>
        <div class="room col-12 row justify-content-between m-0 py-3 font-size-m border-bottom">
            <span>컴퓨터 1실</span>
            <button name="<%#= i + 1 %>" type="button" class="btn-open btn btn-outline-success">열기</button>
        </div>
        <%# } %>
        <button id="segyero" class="col-12 row m-0 py-3 bg-white border-0" data-toggle="modal"
            data-target="#segyero-popup">
            <img id="segyero-icon" src="/public/images/calendar-plus-light.svg" alt="">
            <span>세계로 예약하기</span>
        </button>
    </div>





    <!-- 세계로 팝업 -->
    <div class="modal fade" id="segyero-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">알림</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    세계로 컴퓨터실 예약을 신청하시겠습니까?
                    <input id="datepicker" width="276" />
                    <script>
                        $('#datepicker').datepicker({
                            uiLibrary: 'bootstrap4'
                        });
                    </script>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-success text-white">신청</a>
                </div>
            </div>
        </div>
    </div>



</body>

</html>