<!DOCTYPE html>
<html lang="ko">

<!--<META HTTP-EQUIV="refresh" CONTENT="1">-->

<head>
    <% include ./head %>
    <title>TEST01 :: 메인</title>
    <link rel="stylesheet" href="/public/stylesheets/slide.css">
    <script src="/public/scripts/index.js" defer></script>
</head>

<body>

        <div id="donate-blood-donation">
            <div class="slide_box">
                <div></div>

                <div class="slide_line">December 15. 2018</div>

                <h2 class="slide_center_text">"본인 방금 IoT 아이디어 경진대회 금상 타는 상상함"</h2>
                <br>
                <img class="slide_image" src="https://wublossom.github.io/image/IoT%EA%B2%BD%EC%A7%84%EB%8C%80%ED%9A%8C/%EC%83%81%EC%9E%A5.jpg"></img>
                <div class="slide_text">


                    하지만 어림도 없지!! <br>
                    1등 못하면 정우성 삭발이라는 닉값 따라 2등이다!

                </div>

            </div>
        </div>

</body>

</html>
