<!DOCTYPE html>
<html lang="ko">

<head>
    <% include ./head %>
    <title>TEST01 :: 메인</title>
    <script src="/public/scripts/login.js" defer></script>
</head>

<body>
    
    <div id="login-content" class="">
        <div id="login-title">
            <div class="title-animation-text">타이타이틀!</div>
            <div class="title-animation-image">:)</div>
        </div>
        <div class="">

        </div>
    </div>

</body>

</html>