:root {
}
* {
  font-weight: 100;
}

body,
html {
  margin: 0;
  max-width: 100vw;
}

.navbar-toggler {
  border: 0 !important;
  padding: 4px !important;
}

/* 컴퓨터실 */
.room > span {
  margin-left: 0;
  opacity: 1;
  transition: 0.2s;
}
.room.open > span {
  margin-left: -4rem;
  opacity: 0;
  transition: 0.2s;
}
.room > .btn {
  margin-right: -1rem;
  opacity: 0;
  transition: 0.2s;
}
.room.open > .btn {
  margin-right: 0;
  opacity: 1;
  transition: 0.2s;
}

/* 세계로 */
#segyero {
  text-decoration: underline;
}
#segyero-icon {
  width: 1.4em;
  height: 1.4em;
  margin-right: 8px;
}





/* 관라자 */
#admin-contents {
  height: calc(100% - 56px);
}
#real-time-log {
  height: 100%;
  width: 500px;
  background: #333;
  overflow-y: scroll;
  font-weight: 500;
}
.bg-81 {
  background-color: #818181;
}
.text-gray {
  color: #dfdfdf !important;
  transition: 0.2s;
}
.text-gray:hover {
  color: #c7c7c7 !important;
  transition: 0.2s;
}
.bg-f2 {
  background-color: #f2f2f2;
}
.admin-pc-room {
  font-size: 1.2em !important;
  border-radius: 12px !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/public/images/chevron-down-light.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 99% 50%;
}
.admin-pc-room::-ms-expand {
  display: none;
}
#admin-graph-board {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.19);
}
#timetable {
  top: 50%;
  transform: translate(-100%, -50%);
  transition: 0.2s;
}
#timetable.show {
  transform: translate(0, -50%);
}
#timetable-background {
  z-index: -100;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: 0.2s;
}
#timetable-background.show {
  z-index: 100;
  opacity: 1;
}



/* 그래프 */
#lineChart {
  width: unset !important;
  height: unset !important;
}



/* 토스트 */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 9999; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* 애니메이션 */
.shake {
  animation: shake 1s;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.display-4 {
  letter-spacing: -0.125em;
}
.font-size-m {
  font-size: 1.5em;
}
.cursor-pointer {
  cursor: pointer;
}
.position-relative {
  position: relative;
}
.sizing-border {
  box-sizing: border-box;
}
.flexXY {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexX {
  display: flex;
  justify-content: center;
}
.flexY {
  display: flex;
  align-items: center;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.h-fit {
  height: fit-content !important;
}
